input, textarea
{
border: 1px solid #00008B;
}



body, table
{
background-color: #ffffff;
color: #00008B;
font-family: verdana; 
font-size: 8pt;
border: 0;
margin: 0;
border-collapse: collapse;
border-spacing: 0;
}
table.g tr
{
vertical-align: top;
} 


table
{
text-align: left;
color: #404040;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px;
}
table tr
{
vertical-align: top;
}
table td
{
padding: 3 26 3 8;
}
table th
{
border-bottom: 1px solid #6699CC;
background-color: #BEC8D1;
color: #404040;
padding: 0 0 0 8;
}



div.mainbody{ padding: 10 10 10 10; }

img { border: 0 0 0 0; vertical-align: middle; }

img.line
{
height: 2px;
width: 100%;
vertical-align: bottom; 
background-image : url(red.gif);
}

h1 { font-family: Arial; font-size: 18pt; color: #190F3F; font-weight: bold }
h2 { font-family: Arial; font-size: 16pt; color: #190F3F; font-weight: bold }
h3 { font-family: Arial; font-size: 14pt; color: #190F3F; font-weight: bold }
h4 { font-family: Arial; font-size: 12pt; color: #190F3F; font-weight: bold }

pre
{
background:#E0E0E0;
color: #000000;
padding: 2;
}

font.preproc, font.keyword { color: #0000ff;}
font.nortext, font.numbers, font.strings{ color: #000000;}
font.comment { color: #008000;)
font.AuxTitle { color: 434343; }
a { color: 00008B; }
